.project-container {
    background-color: var(--secondary-background-color);
    width: 85%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    padding: 20px;
    color: var(--text-color);
}

.project-container h2 {
    text-align: center;
}

.p-box {
    display: flex;
    background-color: var(--primary-background-color);
    margin: 3rem auto 40px auto;
    border-radius: 10px;
    max-width: 800px;
}

.p-box > :nth-child(1) {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.p-box-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    flex: 1;
}

.p-box-content > p {
    margin-bottom: 5rem;
}

.p-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-box-header-imgs {
    display: flex;
    gap: 1rem;
}

.p-box-header-imgs > * {
    width: 20px;
    height: 20px;
}

.p-box-content-btns {
    display: flex;
    gap: 1.5rem;
}

.p-box-content-btns > :nth-child(1) {
    background-color: var(--background-btn-project);
    padding: 10px;
    color: var(--text-color-btn);
    font-size: 0.8rem;
    border-radius: 5px;
    will-change: transform;
    transition: transform 0.3s ease;
}

.p-box-content-btns > :nth-child(1):hover {
    transform: scale(1.1);
}

.p-box-content-btns > :nth-child(2) {
    background-color: var(--secondary-background-color);
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    will-change: transform;
    transition: transform 0.3s ease;
    color: var(--text-color);
}

.p-box-content-btns > :nth-child(2):hover {
    transform: scale(1.1);
}

.second {
    flex-direction: row-reverse;
}

.second > :nth-child(1) {
    border-radius: 0 10px 10px 0;
}

  @media screen and (max-width: 1650px) {
    .project-container {
        width: 90%;
        scroll-margin-top: 80px;
    }

    .p-box > :nth-child(1) {
        width: 300px;
        height: 300px;
        object-position: 90%;
    }
  }

  @media screen and (max-width: 1400px) {

    .project-container {
        width: 100%;
    }

    .p-box {
        max-width: 600px;
    }

    .p-box > :nth-child(1) {
        width: 200px;
        height: 300px;
        object-position: 80%;
    }
  }

  @media screen and (max-width: 1024px) {
    .project-container {
        width: 90%;
    }

    .p-box > :nth-child(1) {
        height: 200px;
    }

    .p-box-content {
        padding: 10px;
    }

    .p-box-header {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .p-box-header-imgs {
        gap: 0.6rem;
        padding-right: 0.8rem;
    }

    .p-box-header-imgs > * {
        width: 15px;
        height: 15px;
    }

    .p-box-content > p {
        font-size: 0.7rem;
        margin-bottom: 3rem;
    }

    .p-box-content-btns {
        gap: 0.8rem;
        text-align: center;
    }

    .p-box-content-btns > :nth-child(1), .p-box-content-btns > :nth-child(2) {
        font-size: 0.6rem;
    }
  }

  @media (max-width: 500px) {
    .p-box > :nth-child(1) {
        width: 130px;
    }
    
    .p-box-header {
        margin-bottom: 0;
    }
  }

  @media (max-width: 400px) {
    .p-box-content {
        padding: 10px 5px 10px 8px;
    }
    .p-box-header-imgs {
        gap: 0.3rem;
        padding-right: 5px;
    }
    .p-box-content-btns > :nth-child(1), .p-box-content-btns > :nth-child(2) {
        font-size: 0.5rem;
    }
  }