.skills-container {
    background-color: var(--secondary-background-color);
    width: 85%;
    height: 220px;
    margin: 0 auto 40px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.skills-container > h2 {
    text-align: center;
    color: var(--text-color);
}

.skills-div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills-icon > img {
    width: 40px;
    height: 40px;
}

.skills-icon > span {
    color: var(--gray);
}

@media screen and (max-width: 1650px) {
    .skills-container {
        width: 90%;
    }
}

@media screen and (max-width: 1400px) {
    .skills-container {
        width: 100%;
    }
}