.footer-container {
    text-align: center;
    margin: 30px 0 20px 0;
    color: var(--text-color);
}

@media screen and (max-width: 1024px) {
    .footer-container {
        font-size: 0.9rem;
    }
}