.container {
  width: 100vw;
  min-height: 100vh;
  max-width: 1536px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1650px) {
  .container {
    max-width: 1150px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 950px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    scroll-margin-top: 20px;
  }
}
