* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100dvh;
    font-family: "Montserrat", serif;
    color: white;
}

body {
    background-color: rgb(30, 30, 30);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}