* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100dvh;
    font-family: "Montserrat", serif;
    color: white;
}

body {
    background-color: var(--primary-background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}