:root {
    --primary-background-color: #212121;
    --secondary-background-color: #2B2A2A;
    --tertiary-background-color: #413F3F;
    --text-color: white;
    --gray: rgb(196, 196, 196);
    --transparency: #2B2929;
}

[data-theme="dark"]{
    --primary-background-color: #212121;
    --secondary-background-color: #2B2A2A;
    --tertiary-background-color: #413F3F;
    --text-color: white;
    --gray: rgb(196, 196, 196);
    --transparency: rgba(43, 41, 41, 0.41);
}

[data-theme="light"]{
    --primary-background-color: #F2F2F2;
    --secondary-background-color: white;
    --tertiary-background-color: #F1F1F1;
    --text-color: black;
    --gray: rgb(121, 119, 119);
    --transparency: rgba(43, 41, 41, 0.162);
}